<%= content_for(:navbar_class, "navbar-home") %>

<div class="search-container">
  <div class="search-left row justify-content-center align-content-center">
    <div class="search-form">

      <%= simple_form_for :search, url: posts_path, method: 'GET' do |f| %>
        <div class="search-page-1">
          <h3 class="text-center mb-3"> Please specify <br>your<span style="color:#5538EE"> search</span></h3>
          <%= f.input :city,
            placeholder: 'City',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :preferred_district,
            placeholder: 'Neighborhood',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :category,
            prompt: 'Type',
            collection: ["Studio", "Apartment", "Private room", "Shared room", "House"],
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :min_size,
            placeholder: 'Min size in m²',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :max_price,
            placeholder: 'Max price in €',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <button type="button" class="btn-block btn-lg mt-4 btn-notifa" id="next-form-btn">Next</button>
          <div class="skip-link">
            <%= link_to "Show me all results for #{@search.city}", posts_url(search: {city: params[:query]}) %>
          </div>
        </div>
        <div class="search-page-2">
          <h3 class="text-center mb-3"> Please set your <br><span style="color:#5538EE">notifications.</span></h3>
          <%= f.input :title,
            placeholder: 'Title',
            label: false,
            input_html: { :value => nil, class: 'form-control-lg' } %>
          <%= f.input :frequency,
            label: 'How often do you want to be notified?',
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Search::FREQUENCY_OPTIONS %>
          <%= f.input :channel,
            label: 'How should we notify you?',
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Search::CHANNEL_OPTIONS %>
          <button type="button" class="btn-block btn-lg mt-4 btn-notifa search-saved-sweet-alert form-submit-delay">Save & Search</button>
          <div class="skip-link">
            <a href="" id="back-form-btn">Back</a>
          </div>
        </div>
      <% end %>

    </div>
  </div>

  <div class="search-right">
    <div class="neighborhoods-carousel">
      <h3 class="text-center mb-3"> Neighborhoods<br>of Berlin</h3>
      <!-- bootstrap carousel -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

          <% @neighborhoods.each_with_index do |neighborhood, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <div class="neighborbood-img-holder d-block">
                  <div class="neighborhood-img" style="background-image: url('<%= neighborhood.image_url %>')">
                  </div>
                </div>
                <h4 class="text-center neighborbood-title"><%= neighborhood.name %></h4>
                <p class="neighborbood-description text-center pb-5"><%= neighborhood.description %></p>
              </div>
            <% else %>
              <div class="carousel-item">
                <div class="neighborbood-img-holder d-block">
                  <div class="neighborhood-img" style="background-image: url('<%= neighborhood.image_url %>')">
                  </div>
                </div>
                <h4 class="text-center neighborbood-title"><%= neighborhood.name %></h4>
                <p class="neighborbood-description text-center pb-5"><%= neighborhood.description %></p>
              </div>
            <% end %>

          <% end %>

        </div>
        <a class="carousel-control-prev mb-5" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next mb-5" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>
</div>

