<div class="row">
  <div class="col-12 col-sm-12 col-md-7 col-lg-7">
    <h1 class="text-center mb-3"> Please specify your search</h1>
    <%= simple_form_for @search do |f| %>
      <%= f.association :frequency, as: :check_boxes, label: 'How often do you want to be notified?' %>
      <%= f.input :preferred_district, placeholder: 'Neighborhood', label: false, input_html: { class: 'form-control-lg' } %>
      <%= f.association :category, prompt: 'Type', label: false, input_html: { class: 'form-control-lg' } %>
      <%= f.input :preferred_district, placeholder: 'Neighborhood', label: false, input_html: { class: 'form-control-lg' } %>
      <%= f.input :room, placeholder: 'Rooms', label: false, input_html: { class: 'form-control-lg' } %>
      <%= f.submit class: 'btn btn-block btn-lg mt-4 form-button' %>
    <% end %>
  </div>
  <div class="col-12 col-sm-12 col-md-5 col-lg-5">
  </div>
</div>
