<%= content_for(:navbar_class, "navbar-home") %>

<div class="search-container">
  <div class="search-left row justify-content-center align-content-center">
    <div class="search-form">

      <%= simple_form_for :search, url: posts_path, method: 'GET' do |f| %>
        <div class="search-page-1">
          <h3 class="text-center mb-3"> Please specify <br>your<span style="color:#5538EE"> search</span></h3>
          <%= f.input :city,
            placeholder: 'City',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :preferred_district,
            placeholder: 'Neighborhood',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :category,
            prompt: 'Type',
            collection: ["Studio", "Apartment", "Private room", "Shared room", "House"],
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :min_size,
            placeholder: 'Min size in sm²',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <%= f.input :max_price,
            placeholder: 'Max price in €',
            label: false,
            input_html: { class: 'form-control-lg' } %>
          <button type="button" class="btn-primary btn-block btn mt-4" id="next-form-btn">Next</button>
          <div class="skip-link">
            <%= link_to "Show me all results for #{@search.city}", posts_url(search: {city: params[:query]}) %>
          </div>
        </div>
        <div class="search-page-2">
          <h3 class="text-center mb-3"> Please specity your <br><span style="color:#5538EE">notifications.</span></h3>
          <%= f.input :title,
            placeholder: 'Title',
            label: false,
            input_html: { :value => nil, class: 'form-control-lg' } %>
          <%= f.input :frequency,
            label: 'How often do you want to be notified?',
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Search::OPTIONS %>
          <%= f.button :submit, 'Save & Search',
            class: 'btn-primary btn-block btn mt-4' %>
        </div>
      <% end %>

    </div>

  </div>
  <div class="search-right">
  </div>
</div>

