<div class="main-container">
  <div class="search-results-and-cards">
    <div class="search-results">
      <h2>Your search <span style="color:#5538EE">results</span></h2>
      <p><%=@posts.size%> results</p>
      <hr class="solid">
    </div>
    <div class="cards">
          <% @posts.each do |post| %>
          <div class='card'>
            <p class="mins-ago">5 min ago</p>
            <img src="https://images.unsplash.com/photo-1615873968403-89e068629265?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80" class="card-img">
            <div class="info">
            <img src='https://res.cloudinary.com/dvokz7e90/image/upload/v1629824336/Screenshot_2021-08-24_at_18.54.52_t10n0o.png' class="website-logo avatar-bordered"/>
              <p class="address"><%= post.address %></p>
              <p class="rooms"><%= post.room %> rooms • <%= post.size %> m2 • <%= post.description %></p>
              <div class="price-date-wrapper">
                <p class="from-date">From 13 SEP 2021</p>
                <p class="price"><%= post.price %>€</p>
              </div>
            </div>
          </div>
          <% end %>
    </div>
  </div>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
