<% content_for :meta_title, "#{@post.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @post.price %>
<% content_for :meta_image, @post.image_urls[0] %>

<div class="post-grid">
  <main class="post-content">

    <div class="image-grid">
      <p class="time-posted">5 min ago</p>
      <% @post.image_urls.each_with_index do |image_url, index| %>
        <% if index == 0 %>
          <div class="large-image" style="background-image: url('<%= image_url %>')">
          </div>
         <% end %>
      <% end %>
      <div class="small-images">
        <% @post.image_urls.each_with_index do |image_url, index| %>
          <% if index != 0 && index < 3 %>
            <div class="small-image" style="background-image: url('<%= image_url %>')">
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="post-info">
      <h1 class="post-title"> <%= @post.title %></h1>
      <p class="post-description"><%= @post.description %></p>
    </div>

  </main>

  <div class="sidebar">
    <h1 class="post-title text-center mt-3"><%= @post.address %></h1>

    <div class="booking-box">
      <p class="rent-per-month">Rent per month</p>
      <p class="post-price"><%= @post.price %>  €</p>
      <p class="from-date">From 15 SEP 2021</p>
        <div class="booking-card-grid">
          <div>
            <i class="ti ti-map-pin icon-size icon-position"></i>
            <p class="card-grid-text"><%= @post.address.split("-")[-1].strip if @post.company == "ebay-kleinanzeigen" %></p>
          </div>
          <div>
            <i class="ti ti-square icon-size"></i>
            <% if @post.room == 1 %>
              <p class="card-grid-text"><%= @post.room %> room</p>
            <% else %>
              <p class="card-grid-text"><%= @post.room %> rooms</p>
            <% end %>
          </div>
          <div>
            <i class="ti ti-home icon-size"></i>
            <p class="card-grid-text">Shared</p>
          </div>
          <div>
            <i class="ti ti-shape icon-size"></i>
            <p class="card-grid-text"><%= @post.size %> m²</p>
          </div>
        </div>

      <%= image_tag "ebay-kleinanzeigen-logo.png" , :class => "logo" if @post.company == "ebay-kleinanzeigen" %>
      <a class="btn-block btn-lg text-center btn-notifa btn-booking-box" href="<%= @post.post_url %>" target=”_blank” role="button">Apply <i class="ti ti-external-link icon-size"></i></a>
    </div>
  </div>

</div>
